/* Configuracion general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: ubuntu;
  
}
@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}

/* Escala de imagen(logo) */
img {
  width: 100%;
}

/* Diseño de la cabecera */
header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #50094a;

}

header .header-left {
  display: flex;
  align-items: center;
}
header .header-left .logo {
  width: 53px;
  -webkit-filter: drop-shadow(3px 3px 0 rgb(0, 0, 0, 0.5))
x            drop-shadow(-3px -3px 0 rgb(0, 0, 0, 0.5));
  filter: drop-shadow(3px 3px 0 rgb(0, 0, 0, 0.5)) 
          drop-shadow(-3px -3px 0 rgb(0, 0, 0, o.5));
}

header .header-left nav {
  margin-left: 50px;
}
header .header-left nav ul {
  display: flex;
}


/* Posicion y color de letras de navegador */
nav ul li a {
  display: block;
  color: #a559d1;
  font-size: 18px;
  padding: 5px 10px;
  transition: 0.2s;
  text-shadow: 2px 2px 5px rgb(65, 26, 88);
  text-decoration: none;
}


/* Animacion al pasar por encima */
nav ul li a:hover{
  cursor: pointer;
  color: #f3f3f3;
  transition: all 0.8s linear;
  
}

header .header-right {
  display: flex;
  align-items: center;
}

header .header-right .hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
header .header-right .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #a559d1;
  
}
@media only screen and (max-width: 1000px) {
  header {
      padding: 0 20px;
  }
  header .header-right .hamburger {
      display: block;
  }
  header .header-left nav {
      margin: 0;
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: fit-content;
      background: rgb(94, 10, 87, 9);
      padding: 30px;
      transition: 0.3s;
      text-align: center;
  
  }
  header .header-left nav.active {
      top: 70px;
  }
  header .header-left nav ul {
      display: block;
  }
}

/* Vista del usuario */
.form-vista-1{
  min-height : 100vh; 
  background: rgb(148, 62, 112);
  background: linear-gradient(141deg, rgb(129, 46, 95) 0%, rgb(65, 5, 73) 100%); 
  
}

/* Vista del agresor */
.form-vista-2{
  min-height : 100vh; 
  background: rgb(194, 52, 52);
  background: linear-gradient(141deg, rgb(205 67 67) 0%, rgb(205 28 28) 100%);
  
}

/* Vista de descargo */
.form-vista-3{
  min-height : 100vh; 
  background: rgb(52, 54, 194);
  background: linear-gradient(141deg, rgb(68, 61, 170) 0%, rgb(16, 23, 114) 100%);
  
}


body {
  font-family: Arial, sans-serif;
  
}

.bodi{
  padding: 10px;
}

/* VISTA DE INFORME */
.form-container-1-1{
  background-color:rgba(125, 51, 168, 0.6) ;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.separador{
  padding-bottom:4.9%;
}

/* VISTA DE CREATE USUARIE */
.form-container-1 {
  background-color:rgba(125, 51, 168, 0.6) ;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  
}

.form-container-1 h2 {
  text-align: center;
}

.form-container-1 label,
.form-container-1 input[type="text"] {
  display: block;
  font-weight: bolder;
  margin-bottom: 10px;
}

.form-container-1 input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container-1 input[type="number"]{
  padding: 8px;
  width:100%;
  border: 1px solid #ccc;    
  border-radius: 5px;
  display: block;
  font-weight: bolder;
  margin-bottom: 10px;
}


.form-container-1 input[type="date"]{
  padding: 8px;
  width:100%;
  border: 1px solid #ccc;    
  border-radius: 5px;
  display: block;
  font-weight: bolder;
  margin-bottom: 10px;
}

/* VISTA DE CREATE AGRESOR */
.form-container-2 { 
  background-color: rgb(199 14 14);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  
}

.form-container-2 h2 {
  text-align: center;
}

.form-container-2 label,
.form-container-2 input[type="text"] {
  display: block;
  font-weight: bolder;
  margin-bottom: 10px;
}

.form-container-2 input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* VISTA DE DESCARGO */
.form-container-3 {
  background-color: rgb(14, 79, 199);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  
}

.form-container-3 h2 {
  text-align: center;
}

.form-container-3 label,
.form-container-3 input[type="text"] {
  display: block;
  font-weight: bolder;
  margin-bottom: 10px;
}

.form-container-3 input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.button-1 {
  background-color: #030303;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-1:hover,
.button-1:focus {
  background-color: #9345a7;
}
select{
  padding: 5px;
  border-radius: 5px;
  width:100%;
  margin-bottom: 10px;
}
.checkbox{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Estilo de pie de pagina */
footer{
  margin-top: 20px;
  position: relative;
  width: 100%;
  background:#000000;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

footer .social_icon,
footer .menu
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  
}
footer .social_icon li,
footer .menu li
{
  list-style: none;
}

footer .social_icon li a

{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.2s;
}

footer .social_icon li a:hover
{
  transform: translateY(-10px);
}

footer .menu li a
{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover
{
  opacity: 1;
}

footer p
{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
  opacity: 0.75;
} 


textarea {
  resize: none;
}

.button-2 {
  background-color: #030303;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  margin-top: 2%;
  margin-bottom: 2%;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-2:hover,
.button-2:focus {
  background-color: #9345a7;
}

.link2{
  color: #fff;
}

.letras{
  color: #fff;
}

.form-container-1 h1 {
  text-align:center;
}