*{
  text-decoration: none;
}
.cuerpoform {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #812e5f, #410549);
}

.formulario {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}
.formulario .title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}

.formulario label {
  margin-bottom: 35px;
}

.formulario label .fa-solid {
  font-size: 20px;
  color: #812e5f;
  margin-right: 10px;
}

.formulario label input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  outline: none;
  border: none;
  color: #252525;

  border-bottom: solid 1px #410549;
  padding: 0 5px;
  font-size: 18px;
}

.formulario label input::placeholder {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  color: rgba(37, 37, 37, 0.5);
}

.formulario .link {
  color: #252525;
  margin-bottom: 15px;
}

.formulario button {
  background-color: #030303;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.formulario button:hover,
.formulario button:focus {
  background: linear-gradient(to right, #812e5f, #410549);
}
